@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,100&display=swap');

:root {
  --blue: #1992d4;
  --robo: 'Roboto', sans-serif;
  --offwhite: #e2e8f0;
  --yellow: #f0b429
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  color: black;
  font-family: var(--robo);
  font-weight: 500;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.sidebar {
  height: 100vh;
  background: var(--blue);
  color: white;
  font-weight: bolder;
  width: 100%;
  padding: 10px;
  position: relative;
}

.sidebar nav ul {
  list-style-type: none;
  padding-left: 10px;
}

.sidebar nav ul li {
  margin-top: 15px;
  font-weight: 600;
  font-family: var(--robo);
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cool-banner img{
  width: 100%;
  height: 300px;
  margin-top: 40px;
}

.side-nav-bottom {
  position: absolute;
  bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20vh);
  height: 100vh;
  width: 100%;
  height: 400px;
}


.grid-container .header {
  background: white;
  height: 100%;
  grid-area: 1/2/2/6;
}


.header {
  padding: 1% 3%;
}

.header-top-section, .header-top-section >div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom, .header-bottom>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar {
  gap: 10px;
}

.searchbar input {
  width: 500px;
  border: none;
  background-color: var(--offwhite);
  outline: none;
  padding: 5px 10px;
  border-radius: 10px;
}

.profile-notifications {
  gap: 20px;
  font-family: var(--robo);
  font-size: 15px;

}

.profile-notifications .profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.display-greeting {
  font-family: var(--robo);
  font-size: 15px;
  margin-top: 20px;
  gap: 10px;
}


.display-greeting .profile-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.buttons {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.buttons button {
  padding: 10px 50px;
  background-color: var(--blue);
  border: none;
  outline: none;
  font-family: var(--robo);
  color: white;
  font-weight: bolder;
  border-radius: 8px;
  cursor: pointer;
}


.projects, .announcements-extra {
  background-color: var(--offwhite);
}


.projects {
  grid-area: 2/2/6/5;
  padding: 2% 3%;
  overflow-y: scroll;
}

.projects::-webkit-scrollbar {
  width: 10px;
}

.projects::-webkit-scrollbar-track {
  background: #ffffff;
}

.projects::-webkit-scrollbar-thumb {
  background-color: #050505;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cards .card {
  background-color: white;
  padding: 30px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  border-left: 8px solid var(--yellow);
  display: grid;
  gap: 15px;
}

.cards .card p {
  font-size: 14px;
}


.cards .card .icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-size: 20px;
  margin-top: 20px;
}
.announcements-extra {
  grid-area: 2/5/6/6;
}